// components/_footer.scss

@use "../utilities/variables" as *;

.estilo-footer {
    padding: 1rem;

    h4 {
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }
}

.footer-contacto {
    text-align: left;

    @media (max-width: $breakpoint-lg) {
        text-align: center;
    }
}

.footer-derechos {
    text-align: center;
}

.footer-redes {
    text-align: right;

    @media (max-width: $breakpoint-lg) {
        text-align: center;
    }
}

.lista-iconos-simples {
    img {
        width: 40px;
        height: 40px;
    }
    li {
        display: inline-block;
        margin-right: 15px;
    }
}

footer ul img {
    width: 30px;
    height: 30px;
}
