// components/_footer.scss

@use "../utilities/variables" as *;

.estilo-footer {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width: 30%;
        text-align: center;

        h4 {
            margin-bottom: 1rem;
        }

        @media (max-width: $breakpoint-lg) {
            width: 100%;
        }
    }

    @media (max-width: $breakpoint-lg) {
        padding: 1rem;
    }
}

.lista-iconos-simples {
    img {
        width: 40px;
        height: 40px;
    }
    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

footer ul img {
    width: 30px;
    height: 30px;
}
