// components/_header.scss

@use "../utilities/variables" as *;

nav ul {
    list-style: none;

    li a {
        /* color: $color-verde-enlace; */
        text-decoration: none;
    }
}

.logo-nav {
    height: 50px;
    width: auto;
    border-radius: 10px;
}

.navbar-nav {
    .nav-link {
        font-size: 1.4rem;
        color: $color-amarillo-pálido;
    }

    .pagina-actual {
        color: $color-amarillo-claro;
        text-decoration: underline;
    }
}

.menu-button-text {
    color: $color-celeste-neon;
    font-size: 1.6rem;
    border: 2px solid $color-celeste-neon;
}
