// scss/partials/layout/_home.scss
@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

$color-portada-btn-bg: #0b1d3a;          // Fondo de los botones de la portada
$color-portada-btn-default: #f9ca24;     // Color base del botón, borde, y texto
$color-portada-btn-hover: #66fcf1;       // Color del hover del botón y borde
$color-portada-blend-mode: hsla(0, 0%, 0%, 0.25); // Color para el efecto darken del fondo


.imagen-portada {
    @include background-image("inicio-portada.png");
    background-color: $color-portada-blend-mode;
    background-blend-mode: darken;
}

.estilo-portada {
    height: 92vh;
    min-height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    
    h2 {
        text-align: left;
    }
    
    a {
        font-size: 20px;
        padding: 10px 20px;
        background-color: $color-portada-btn-bg;
        border-color: $color-portada-btn-default;
        color: $color-portada-btn-default;

        &:hover {
            background-color: $color-portada-btn-bg;
            border-color: $color-portada-btn-hover;
            color: $color-portada-btn-hover;
            text-decoration: underline;
        }

        @media (max-width: $breakpoint-lg) {
            font-size: 15px;
            padding: 8px;
        }
    }
}

.descripcion-juego {
    article {
        padding: 1rem 0;
        margin: 1rem 0;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        div {
            padding: 0rem 3rem;

            @media (max-width: $breakpoint-lg) {
                padding: 0;
                margin: 0;
            }
        }

        img {
            border-radius: 0.5rem;
        }
    }
}