// layout/_modos.scss

@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.estilo-tabla {
    border-color: $color-gris-borde;

    thead th {
        background-color: $color-fondo-dark-accent;
        color: $color-amarillo-brillante;
    }

    tbody td {
        background-color: $color-fondo-secundario;
        color: $color-gris-claro;
    }

    @media (max-width: $breakpoint-lg) {
        @include padding-x(0);
    }
}

.estilo-modos-img {
    padding: 0.5rem;
    border-radius: 1rem;

    @media (max-width: $breakpoint-lg) {
        padding: 0;
        border-radius: 0.25rem;
    }
}
