.imagen-novedades {
    background-image: url("../assets/img/noticias-novedades.png");
}
.imagen-correcciones {
    background-image: url("../assets/img/noticias-correcciones-de-bug.png");
}
.cuerpo-noticia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-cabecera {
    display: flex;
    justify-content: space-between;
}

