/* scss/partials/base/_tipografia.scss */
@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

/* Fuente Audiowide */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    font-family: "Audiowide", sans-serif;
    background-color: $color-fondo-principal;
}

h1 {
    font-size: 60px;
    color: $color-titulo-principal;
    @include margin-y(3rem);

    @media (max-width: $breakpoint-lg) {
        font-size: 40px;
        @include margin-y(1.5rem);
    }
}

h2 {
    font-size: 40px;
    color: $color-subtitulo-1;
    text-align: center;
    @include margin-y(3rem);
    padding-top: 3rem;

    @media (max-width: $breakpoint-lg) {
        font-size: 30px;
        padding-top: 1rem;
        @include margin-y(1.5rem);
    }
}

h3 {
    font-size: 40px;
    color: $color-subtitulo-2;

    @media (max-width: $breakpoint-lg) {
        font-size: 24px;
    }
}

h4 {
    font-size: 24px;
    color: $color-texto-principal;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;

    @media (max-width: $breakpoint-lg) {
        font-size: 20px;
    }
}

h5 {
    font-size: 40px;
    color: #ffffff;
    background-color: $color-fondo-oscuro;
    padding: 16px;
    margin: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

p,
a,
li {
    font-size: 18px;
}

p {
    color: $color-texto-principal;
}

a {
    color: $color-enlace-primario;
}

li {
    color: $color-texto-principal;
}

table {
    color: $color-texto-principal;
}

th {
    background-color: $color-enlace-primario;
    color: $color-fondo-tabla-cabecera;
}

label {
    color: $color-label;
    font-weight: bold;
}

section {
    border-radius: 0.5rem;
    @include margin-y(3rem);
    @include padding-x(0);

    @media (max-width: $breakpoint-lg) {
        @include margin-y(1.5rem);
    }

    @media (max-width: $breakpoint-xxl) {
        border-radius: 0;
    }
}
