/* Fuente Audiowide */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* font-family: "Audiowide", sans-serif; */

body {
    font-family: "Audiowide", sans-serif;
    background-color: #061121;
}

h1 {
    font-size: 60px;
    color: #f9ca24;
    margin: 3rem 0;

    @media (max-width: 991px) {
        font-size: 40px;
        margin: 1rem 0;
    }
}

h2 {
    font-size: 40px;
    color: #66fcf1;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @media (max-width: 991px) {
        font-size: 30px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

h3 {
    font-size: 40px;
    color: #7cff44;

    @media (max-width: 991px) {
        font-size: 24px;
    }
}

h4 {
    font-size: 24px;
    color: #d6eaf8;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;

    @media (max-width: 991px) {
        font-size: 20px;
    }
}

h5 {
    font-size: 40px;
    background-color: #1c3b4a;
    color: #ffffff;
    padding: 16px;
    margin: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
p {
    font-size: 18px;
    color: #d6eaf8;
}

a {
    font-size: 18px;
    color: #1f8ef1;
}

li {
    // solo lo usa el footer CAMBIAR!
    color: #d6eaf8;
    font-size: 18px;
}

table {
    color: #d6eaf8;
}

th {
    background-color: #1f8ef1;
    color: #0b1d3a;
}

label {
    color: #a7bcf7;
    font-weight: bold;
}

section {
    border-radius: 0.5rem;
    margin: 49px 0px;
    padding: 0.25rem 0;

    @media (max-width: 991px) {
        margin: 16px 0px;
    }

    @media (max-width: 1400px) {
        border-radius: 0;
    }
}
