// utilities/_variables.scss

$color-fondo-primario: #061121;
$color-gris-azul-oscuro: #1c3b4a;
$color-fondo-secundario: #22303f;
$color-fondo-dark-accent: #0b1d3a;

$color-amarillo-brillante: #f9ca24;
$color-celeste-neon: #66fcf1;
$color-verde-neon: #7cff44;
$color-amarillo-claro: #ffd700;
/* $color-verde-enlace: #00b894; */
$color-amarillo-pálido: #f0e68c;

$color-gris-claro: #d6eaf8;
$color-azul-link: #1f8ef1;
$color-lila-suave: #a7bcf7;
$color-gris-borde: #445e7c;

$ruta-imagen: "../assets/img";
$color-portada-blend-mode: hsla(0, 0%, 0%, 0.25);

$breakpoint-xxl: 1400px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
