/* Fuente Audiowide */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* font-family: "Audiowide", sans-serif; */

body {
    font-family: "Audiowide", sans-serif;
    background-color: #0b1d3a;
}

h1 {
    font-size: 60px;
    color: #f9ca24;
}

h2 {
    font-size: 40px;
    color: #66fcf1;
}

h3 {
    font-size: 24px;
    color: #d6eaf8;
    font-weight: bold;
}

p {
    font-size: 19.2px;
    color: #d6eaf8;
}

a {
    font-size: 18px;
    color: #1f8ef1;
}

nav ul {
    list-style: none;
}

nav ul li a {
    color: #00b894;
    text-decoration: none;
}

li {
    color: #d6eaf8;
    font-size: 18px;
}

table {
    color: #d6eaf8;
}

th {
    background-color: #1f8ef1;
    color: #0b1d3a;
}

label {
    color: #a7bcf7;
    font-weight: bold;
}

.logo-nav {
    height: 50px;
    width: auto;
    border-radius: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    color: #f0e68c;
}

.navbar-nav .nav-link.active {
    color: #ffd700;
}

.menu-button-text {
    color: #66fcf1;
    font-size: 1.6rem;
    border: 2px solid #66fcf1;
}

.nav-oscura {
    background-color: #050f1f;
}

.nav-link.active {
    text-decoration: underline;
}
.portada {
    background-image: url("../assets/img/portada.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-fija {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.contenido-portada {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.img-filtro-redondeado {
    filter: brightness(80%);
    border-radius: 10px;
}

.footer-contenido {
    background-color: #050f1f;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contacto {
    text-align: left;
}
.derechos {
    text-align: center;
}
.redes {
    display: flex; 
    flex-direction: column;
    align-items: flex-end; 
}

.redes ul {
    list-style: none;
    text-align: left;
    align-self: flex-start;
}

