/* Fuente Audiowide */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* font-family: "Audiowide", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Audiowide", sans-serif;
    background-color: #061121;
}

/* Propiedades de etiquetas principales */
h1 {
    font-size: 60px;
    color: #f9ca24;
}
h2 {
    font-size: 40px;
    color: #66fcf1;
}
h3 {
    font-size: 40px;
    color: #7cff44;
}
h4 {
    font-size: 24px;
    color: #d6eaf8;
    font-weight: bold;
    text-decoration: underline;
}
p,
span {
    font-size: 19.2px;
    color: #d6eaf8;
}
a {
    font-size: 18px;
    color: #1f8ef1;
}
nav ul {
    list-style: none;
}
nav ul li a {
    color: #00b894;
    text-decoration: none;
}
li {
    color: #d6eaf8;
    font-size: 18px;
}
table {
    color: #d6eaf8;
}
th {
    background-color: #1f8ef1;
    color: #0b1d3a;
}
label {
    color: #a7bcf7;
    font-weight: bold;
}

/* (todas): Barra de navegacion */
.logo-nav {
    height: 50px;
    width: auto;
    border-radius: 10px;
}
.navbar-nav .nav-link {
    font-size: 1.4rem;
    color: #f0e68c;
}
.navbar-nav .nav-link.active {
    color: #ffd700;
}
.menu-button-text {
    color: #66fcf1;
    font-size: 1.6rem;
    border: 2px solid #66fcf1;
}
.nav-link.active {
    text-decoration: underline;
}

/* Utilidades */
.img-oscurecer {
    background-color: hsla(0, 0%, 0%, 0.25);
    background-blend-mode: darken;
}
.img-filtro-oscuro {
    filter: brightness(80%);
}
.contenedor-fondo-oscuro {
    background-color: #1a2638;
}
.fondo-cubrir-centrar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* (Home): Portada de inicio */
.img-portada {
    background-image: url("../assets/img/portada.png");
    height: 990px;
    background-size: cover;
}
.portada-boton {
    background-color: #0b1d3a;
    border-color: #f9ca24;
    color: #f9ca24;
}
.portada-boton:hover {
    background-color: #0b1d3a;
    border-color: #66fcf1;
    color: #66fcf1;
    text-decoration: underline;
}

/* (noticia): url de imagenes  */
.imagen-novedades {
    background-image: url("../assets/img/novedades.png");
    min-height: 300px;
}
.imagen-correcciones-de-bug {
    background-image: url("../assets/img/correcciones-de-bug.png");
    min-height: 300px;
}

/* (personajes): url de imagenes */
.imagen-thalor {
    background-image: url("../assets/img/thalor.png");
    min-height: 300px;
}
.imagen-lunara {
    background-image: url("../assets/img/lunara.png");
    min-height: 300px;
}

